<div class="container mt-6">
  <div class="flex-grid justify-center">
    <div class="column medium-6">
      <app-card>
        <app-message type="error" *ngIf="globalErrors">Wrong credentials.</app-message>
        <form action="#" class="form" (submit)="onSubmit()" [formGroup]="loginForm">
          <label for="username" class="form-field">
            Username
            <input type="text" name="username" id="username" formControlName="username" required>
            <ng-container *ngIf="loginForm.get('username')?.touched">
              <p class="form-error" *ngIf="loginForm.get('username')?.errors?.['required']">
                The email field is required
              </p>
            </ng-container>
          </label>
          <label for="password" class="form-field">
            Password
            <input type="password" name="password" id="password" formControlName="password" required>
            <ng-container *ngIf="loginForm.get('password')?.touched">
              <p class="form-error" *ngIf="loginForm.get('password')?.errors?.['required']">
                The password field is required
              </p>
            </ng-container>
          </label>
          <label for="remember-me" class="form-inline-field">
            <input type="checkbox" name="remember-me" id="remember-me" formControlName="remember-me">
            Remember Me
          </label>
          <div class="button-container align-end">
            <a href="#" routerLink="/forgot-password">Forgot Password</a>
            <button type="submit" class="button primary display-block">Log in</button>
          </div>
        </form>
      </app-card>
    </div>
  </div>
</div>
