.button-container {
  display: flex;
  align-items: center;

  &.align-end {
    justify-content: flex-end;

    > * {
      margin: 0 1rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.button {
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;

  &.primary {
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: #d6d6d6;
    }
  }
}
