<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="#" routerLink="/">
        <img src="assets/logo.svg" alt="logo">
      </a>
    </div>
    <div class="navbar-menus">
      <ul class="navbar-menu">
        <li class="navbar-menu-item" *ngIf="isAuthenticated() | async">
          <a href="#" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="navbar-menu-item" *ngIf="!(isAuthenticated() | async)">
          <a href="#" routerLink="/login">Login</a>
        </li>
        <li class="navbar-menu-item" *ngIf="isAuthenticated() | async">
          <form action="#" (submit)="onLogout()">
            <input type="submit" value="Logout">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
