<div class="container mt-6">
  <div class="flex-grid justify-center">
    <div class="column medium-6">
      <app-card>
        <p class="global-success" *ngIf="globalSuccess">The reset link was sent successfully.</p>
        <form action="#" class="form" (submit)="onSubmit()" [formGroup]="forgotPasswordForm">
          <label for="email" class="form-field">
            Email
            <input type="email" name="email" id="email" formControlName="email">
          </label>
          <button type="submit" class="button primary ml-auto display-block">Send Reset Link</button>
        </form>
      </app-card>
    </div>
  </div>
</div>
