<div class="container">
  <div class="login-form">
    <form action="#" class="form" (submit)="onSubmit()" [formGroup]="loginForm">
      <label for="username" class="form-field">
        Username
        <input type="text" name="username" id="username" formControlName="username" required>
        <ng-container *ngIf="loginForm.get('username')?.touched">
          <p *ngIf="loginForm.get('username')?.errors?.['required']">
            The email field is required
          </p>
        </ng-container>
      </label>
      <label for="password" class="form-field">
        Password
        <input type="password" name="password" id="password" formControlName="password" required>
        <ng-container *ngIf="loginForm.get('password')?.touched">
          <p *ngIf="loginForm.get('password')?.errors?.['password']">
            The password field is required
          </p>
        </ng-container>
      </label>
      <label for="remember-me" class="form-inline-field">
        <input type="checkbox" name="remember-me" id="remember-me" formControlName="remember-me">
        Remember Me
      </label>
      <button type="submit">Log in</button>
    </form>
  </div>
</div>
