<div class="container mt-6">
  <div class="flex-grid justify-center">
    <div class="column medium-6">
      <app-card>
        <app-message type="error" *ngIf="globalError">Cannot update the password.</app-message>
        <form action="#" class="form" (submit)="onSubmit()" [formGroup]="resetPasswordForm">
          <input type="hidden" name="token" formControlName="token">
          <label for="password" class="form-field">
            Password
            <input type="password" name="password" id="password" formControlName="password">
          </label>
          <button type="submit" class="button primary ml-auto display-block">Reset Password</button>
        </form>
      </app-card>
    </div>
  </div>
</div>
